<h1>Update Item Info</h1>
<center>

  <%= render partial: 'form', locals: { path: "/merchant/items/#{@item.id}",
                                        method: :patch,
                                        button_name: "Submit",
                                        item: @item } %>

  <br><%= link_to "Go Back", request.referer %>
</center>
