<h1>Register a New User</h1>

<%= render partial: 'form', locals: { path: "/register",
                                      method: :post,
                                      button_name: "Submit",
                                      user: params } %>
